@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

@font-face {
   font-family: 'aileronsregular';
   src: url('./../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
        url('./../fonts/ailerons-typeface-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'aileronregular';
   src: url('./../fonts/aileron-regular-webfont.woff2') format('woff2'),
        url('./../fonts/aileron-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

body {
  background: #eee;
}

#root {
  margin-top: 100px;
  margin-bottom: 200px;
}

.row {
  margin-top: 20px;
}

#root img {
  width: 100%;
}

.nav {
  position: fixed;
    z-index: 100;
}

.nav a {
     font-family: 'aileronregular', sans-serif;
     margin: 0px 50px;
     padding: 0px;
     color: black;
     font-size: 16px;
}

#nav-logo {
 top: 50px;
 left: 0px;
 max-width: 200px;
 max-height: 100px;
 width: auto;
 height: auto;
}

#nav-main {
  width: 200px;
  height: 84px;
  top: 50px;
  right: 0px;
  text-align: left;
}

p {
  font-family: 'aileronregular', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

#root img {
    cursor: zoom-in;
}

h1 {
  text-transform: uppercase;
}

.spaced-image {
  margin-top: 20px;
}
